body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kitty {
    cursor: pointer;
    display: inline-block;
}

.click-counter {
    
}

.click-counter__counter {

}